services:
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - ./.env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    volumes:
      - ./src:/usr/src/app/src
    command: npm run dev:container
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./.env

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_SERVER_JSON_FILE: /tmp/servers.json
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./data/pgadmin:/var/lib/pgadmin
      - ./config/pgadmin/servers.json:/tmp/servers.json

  docs:
    build:
      context: .
      dockerfile: Dockerfile.docs
    volumes:
      - ./docs/src:/usr/src/docs/src
    ports:
      - "5173:5173"